{
  "env": {
    "targets": {
      "node": "12"
    }
  },
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2019",
    "baseUrl": "./",
    "paths": {
      "~/*": ["./src/*"]
    }
  }
}
